<!DOCTYPE html>
<html>

<head>
  <title>Redirecting...</title>
  <meta property="og:image" content="{{.ThumbnailURL}}" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:site" content="@YouTube" />
  <meta property="twitter:title" content="YouTube" />
  <meta property="twitter:image" content="{{.ThumbnailURL}}" />
  <meta http-equiv="refresh" content="0;url=https://youtu.be/{{.YouTubeID}}">
</head>

<body>
  Redirecting to YouTube video...
</body>

</html>